body {
    background-color: black;

}
.home-link {
    text-align: start;
    text-decoration: none;
    color: ghostwhite;
    font-size: 1.3rem;
}
.home-link:hover {
    color: grey;
}
.marvel {
    text-align: center;
    width: 100%;
    
}
.marvel-span {
    text-decoration:none;
    color: red;
}
.marvel-span:hover {
    color: ghostwhite;
}
.page-title {
    text-align: center;
    color: ghostwhite;
    font-size: 4.0rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero {
    display: flex;
    justify-content: center;
}
.doom-text {
    text-align: center;
    color: ghostwhite;
    font-size: 1.3rem;
    width: 375px;

}
.info {
    font-size: 1.6rem;
    color: gray;
    text-align: center;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.list {
    text-align: center;
    color: ghostwhite;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: forestgreen solid 3px;
}
.comic-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.responsive {
    max-width: 100%;
    height: auto;
  }
  .char-link {
      text-decoration: none;
      text-align: center;
      font-size: 2.0rem;
      margin:20px 0

  }
  .char-link:hover {
      color: ghostwhite;
  }
  .d {
      color: forestgreen;
  }
  .w {
      color:yellow;
  }
  .c {
      color:orangered;
  }
  .list-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .backdrop {
      display:none;
      position:fixed;
      background: rgba(0,0,0,0.5);
      top:0;
      height: 100vh;
      width: 100vw;
      z-index: 1;
  }
  .modal {
    display:none;
    position:fixed;
    background: lightgray;
    padding: 10px;
    top:200px;
    max-width: 100%;
    width: auto;
    z-index: 1;
  }
  .modal-head {
      text-align: center;
      color:steelblue;
  }
  .creators-list {
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: ghostwhite;
      
  }
  .creator-list-item {
      text-align: center;
      color: black;
  }