body {
    background-color: black;

}
.page-title {
    text-align: center;
    color: forestgreen;
    font-size: 4.0rem;
}
.container {
    display: flex;
    flex-direction: column;
}
.hero {
    display: flex;
    justify-content: center;
}
.info {
    text-align: center;
    color: ghostwhite;
    font-size: 1.5rem;
}