body {
    background-color: black;

}
.page-title {
    text-align: center;
    color: forestgreen;
    font-size: 4.0rem;
}
.container {
    display: flex;
    flex-direction: column;
}
.hero {
    display: flex;
    justify-content: center;
}
.doom-text {
    text-align: center;
    color: ghostwhite;
    font-size: 1.3rem;
    width: 375px;

}
.info {
    font-size: 1.6rem;
    color: gray;
    text-align: center;
}